/**
 * Type scale scaffold
 *
 * Pick a scale and assign it to the $font-scale variable and BAM, six font
 * sizes at your disposal.
 */

// available font-scales
$unison:         1;
$minor-second:   1.067;
$major-second:   1.125;
$minor-third:    1.2;
$major-third:    1.25;
$perfect-fourth: 1.333;
$aug-fourth:     1.414;
$perfect-fifth:  1.5;
$minor-sixth:    1.6;
$golden-section: 1.618;
$major-sixth:    1.667;
$minor-seventh:  1.778;
$major-seventh:  1.875;
$octave:         2;
$major-tenth:    2.5;
$major-eleventh: 2.667;
$major-twelfth:  3;
$double-octave:  4;

// and set it
$base-font-size: em(16);
$font-scale: $minor-third;

$epsilon: $base-font-size;
$zeta:    $epsilon / $font-scale;
$delta:   $epsilon * $font-scale;
$gamma:   $delta * $font-scale;
$beta:    $gamma * $font-scale;
$alpha:   $beta * $font-scale;
$mega:    $alpha * $font-scale;
$giga:    $mega * $font-scale;
