/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float:right;
}

.alignleft {
	float: left;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

a img.alignright {
	float: right;
}

a img.alignnone {
}

a img.alignleft {
	float: left;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
}

.wp-caption.alignleft {
}

.wp-caption.alignright {
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
